### * * * * * root echo "hello alive" >> /dvol/log/solarupdate.log 2>&1
*/5 6-19 * * * root python3 /root/solar_update.py >> /dvol/log/solarupdate.log 2>&1
0 21 * * * root (cd /dvol/git/solardb-backup; python3 ./solardb-backup.py) >> /dvol/log/solar-backup.log 2>&1
